In [ ]:
import os
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

For 1st CSV file

In [2]:
file_path = r"C:\Users\91706\Desktop\FinalYearProject\pecan_1_min_part1.csv"  
df = pd.read_csv(file_path, index_col=0)     

print(" Data loaded successfully!")
print(" Columns:", df.columns.tolist())
print(" First few rows:")
display(df.head(3))
print(" Shape:", df.shape)

 Data loaded successfully!
 Columns: ['dataid', 'use']
 First few rows:

                        dataid    use
localminute
2016-01-01 00:00:00-06      26  0.519
2016-01-01 00:00:00-06      59  1.176
2016-01-01 00:00:00-06      86  0.469

 Shape: (2421816, 2)

In [3]:
house_ids = sorted(df['dataid'].unique())

print("Total Unique Houses:", len(house_ids))
print("House IDs:")
for hid in house_ids:
    print(hid)

Total Unique Houses: 14
House IDs:
26
59
77
86
93
101
114
115
171
187
222
252
370
379

In [4]:
# Aggregate to hourly level
df.index = pd.to_datetime(df.index, utc=True, errors='coerce')  
df = df.sort_index()


print("Index type:", type(df.index))
print("Index timezone:", df.index.tz)


hourly = (
    df.groupby('dataid')
      .resample('1h')['use']
      .mean()
      .reset_index()
)

print(" Aggregation successful!")
display(hourly.head())
print(" Shape after aggregation:", hourly.shape)

Index type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Index timezone: UTC
 Aggregation successful!

   dataid               localminute       use
0      26 2016-01-01 06:00:00+00:00  0.527133
1      26 2016-01-01 07:00:00+00:00  0.463150
2      26 2016-01-01 08:00:00+00:00  0.497000
3      26 2016-01-01 09:00:00+00:00  0.498317
4      26 2016-01-01 10:00:00+00:00  0.445383

 Shape after aggregation: (40365, 3)

Generating hourly CSV file for 1st CSV

In [5]:
import datetime
#ts = datetime.datetime.now().strftime("%Y%m%d_%H%M")
hourly.to_csv(f"hourly_data_p_s1.csv", index=False)
print("Hourly CSV saved successfully!")

Hourly CSV saved successfully!

For 2nd CSV file !

In [7]:
file_path = r"C:\Users\91706\Desktop\FinalYearProject\pecan_1_min_part2.csv"  
df = pd.read_csv(file_path, index_col=0)     

print(" Data loaded successfully!")
print(" Columns:", df.columns.tolist())
print(" First few rows:")
display(df.head(3))
print(" Shape:", df.shape)

 Data loaded successfully!
 Columns: ['dataid', 'use']
 First few rows:

                        dataid    use
localminute
2016-01-01 00:00:00-06     434  1.544
2016-01-01 00:00:00-06     483  0.554
2016-01-01 00:00:00-06     490  1.650

 Shape: (3890410, 2)

In [8]:
house_ids = sorted(df['dataid'].unique())

print("Total Unique Houses:", len(house_ids))
print("House IDs:")
for hid in house_ids:
    print(hid)

Total Unique Houses: 23
House IDs:
410
434
483
484
490
499
503
516
545
547
575
585
604
624
661
668
744
774
781
821
871
890
898

In [9]:
# Aggregate to hourly level
df.index = pd.to_datetime(df.index, utc=True, errors='coerce')  
df = df.sort_index()


print("Index type:", type(df.index))
print("Index timezone:", df.index.tz)


hourly = (
    df.groupby('dataid')
      .resample('1h')['use']
      .mean()
      .reset_index()
)

print(" Aggregation successful!")
display(hourly.head())
print(" Shape after aggregation:", hourly.shape)

Index type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
Index timezone: UTC
 Aggregation successful!

   dataid               localminute       use
0     410 2016-02-01 00:00:00+00:00  0.092200
1     410 2016-02-01 01:00:00+00:00  0.088600
2     410 2016-02-01 02:00:00+00:00  1.213400
3     410 2016-02-01 03:00:00+00:00  0.704333
4     410 2016-02-01 04:00:00+00:00  0.558900

 Shape after aggregation: (64842, 3)

Generating hourly CSV file for 2nd CSV file !

In [10]:
import datetime
#ts = datetime.datetime.now().strftime("%Y%m%d_%H%M")
hourly.to_csv(f"hourly_data_p_s2.csv", index=False)
print("Hourly CSV saved successfully!")

Hourly CSV saved successfully!